body {
  background-color: #0f131a;
  color: #e9ebf0;
}
#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
}

a {
  color: #e9ebf0;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

a:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

svg {
  margin: 0 0.5em;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
}

input {
  display: block;
  background: #ebebeb1f;
}

.rs-container {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
  width: 100%;
}

.rs-header {
  text-align: center;
  text-transform: uppercase;
}

.rs-navbar {
  padding: 0.5em;
  margin-bottom: 1em;
}

.rs-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
}

.rs-footer {
  display: flex;
  justify-content: space-around;
  font-size: small;
  text-align: center;
  margin: 0.5em 0;
}

.rs-panel-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.rs-panel {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 100%;
  border: 1px solid #e9ebf0 !important; /* Using !important to override RSuite styles */
  padding: 1em;
}

.rs-panel-heading {
  background: #e3e3e3;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  max-width: 35ch;
}

.rs-panel-body {
  text-align: left;
}

.rs-panel-body img {
  width: 100%;
  height: auto;
}

button svg {
  font-size: 1em;
}

button {
  text-transform: uppercase;
}

.rs-btn-ghost {
  color: #e9ebf0 !important; /* Using !important to override RSuite styles */
  border-color: #e9ebf0 !important; /* Using !important to override RSuite styles */
}
