body {
  background-color: #0f131a;
  color: #e9ebf0;
}
#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

a:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

svg {
  margin: 0 0.5em;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
}

.rs-panel-heading {
  background: #e3e3e3;
  text-align: center;
}
