body {
  background-color: #0f131a;
  color: #e9ebf0;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

a:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

svg {
  margin: 0 0.5em;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
}

input {
  display: block;
  background: #ebebeb1f;
}

.rs-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
}

.rs-header {
  text-align: center;
  text-transform: uppercase;
}

.rs-navbar {
  padding: 0.5em;
  margin-bottom: 1em;
}

.rs-content {
  text-align: center;
}

.rs-footer {
  font-size: small;
  text-align: center;
  margin: 0.5em 0;
}

.rs-panel-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.rs-panel {
  width: 30em;
  height: auto;
  border: 1px solid white !important; /* Using !important to override RSuite styles */
  margin: 1em 0;
}

.rs-panel-heading {
  background: #e3e3e3;
  text-align: center;
  font-weight: bold;
}

.rs-panel-body {
  text-align: left;
  font-weight: bold;
}
