body {
  background-color: #0f131a;
  color: #e9ebf0;
  text-shadow: 0.1em 0.1em 0.2em#0f131a35;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
}

a {
  color: #e9ebf0;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: #c3c5c9;
  text-decoration: none;
  cursor: pointer;
}

svg {
  margin: 0 0.5em;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
}

input {
  display: block;
  background: #ebebeb1f;
}

.rs-container {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
  width: 100%;
}

.rs-header {
  text-align: center;
  text-transform: uppercase;
}

.rs-header em {
  text-align: right;
  text-transform: lowercase;
  margin: 5em;
}

.rs-header h2 {
  margin-bottom: 1em;
}

.rs-navbar {
  padding: 0.5em;
  margin-bottom: 1em;
}

.rs-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
}

.rs-footer {
  display: flex;
  justify-content: space-around;
  font-size: small;
  text-align: center;
  margin: 0.5em 0;
}

.rs-panel-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.rs-panel {
  width: 55vw;
  height: auto;
  border: 1px solid #e9ebf0 !important; /* Using !important to override RSuite styles */
  margin: 1em 0;
}

.rs-panel-heading {
  background: #e9ebf0;
  text-align: center;
  font-weight: bold;
}

.rs-panel-body {
  text-align: left;
  font-weight: bold;
}

.rs-panel-body img {
  display: block;
  width: 25em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

button svg {
  font-size: 1em;
}

button {
  text-transform: uppercase;
}

.rs-btn-ghost {
  color: #e9ebf0 !important; /* Using !important to override RSuite styles */
  border-color: #e9ebf0 !important; /* Using !important to override RSuite styles */
}

.rs-btn-primary {
  color: #e9ebf0 !important; /* Using !important to override RSuite styles */
  border-color: #e9ebf0 !important; /* Using !important to override RSuite styles */
  text-shadow: 0.1em 0.1em 0.2em#0f131a6b;
}
