#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

a:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
